@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


*{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
  
}


body{
    color: white;
    background-image:url("./18309210_SL-043021-42650-10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    font-weight:800;
    font-size:5rem;
    color: #ffffff;
    font-family: inherit;
    position: relative;
    border: none;
    cursor: default;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

h1:focus,
h1:hover {
  color: #ffffff;
}

h1:focus:after,
h1:hover:after {
  width: 100%;
  left: 0%;
}

h1:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgba(105, 108, 255, 0.795);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }



.inputcontainer input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 12em;
    border-radius: 1rem;
    color: rgb(67, 58, 58);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    position: relative;
    left: 30rem;
  }
  
  .inputcontainer input:focus {
    outline-color: rgb(71, 151, 255);
  }
#addbutton{
    position: relative;
    left: 32rem;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffffcb;
    transition: 0.5s ease;
    user-select: none;
}

#addbutton:hover,
:focus {
  color: #ffffff;
  background: #2348ff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}



#inputcontainer input:focus {
    outline-color: rgb(71, 151, 255);
  }

#tasks{
    display: flex;
    flex-wrap: wrap;
    height:max-content;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 30rem;
    top: 5rem;
}



#unorderedlist li{
    margin-bottom: 1rem;
    flex-wrap: wrap;
    font-weight: 900;
    font-size:larger;
    
}



.deletebutton{
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffffcb;
    transition: 0.5s ease;
    user-select: none;
}

.deletebutton:hover,
:focus {
  color: #ffffff;
  background: #f46a52;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #f33434, 0 0 20px #f33434, 0 0 50px #f33434,
    0 0 100px #f33434;
}